{{> header}}

<div class="main-container">
  <div class="row">
    <div class="twelve columns text-center">
      <img src="assets/gm.jpg" class="author__img author__img--small">

      <h1 class="author__name">{{text 'authorName'}}</h1>
      <h3 class="author_function">{{text 'authorFunction'}}</h3>

      <div class="social__container">
        <a href="https://github.com/255kb" target="_blank" title="Github" class="social__link">
          <span class="icon-github"></span>
        </a>
        <a href="https://twitter.com/255kb" target="_blank" title="Twitter" class="social__link">
          <span class="icon-twitter"></span>
        </a>
        <a href="http://stackoverflow.com/users/4287789/guillaume" target="_blank" title="Stackoverflow" class="social__link">
          <span class="icon-stackoverflow"></span>
        </a>
        <a href="http://lu.linkedin.com/in/guillaumemonnet/" target="_blank" title="LinkedIn" class="social__link">
          <span class="icon-linkedin"></span>
        </a>
        <a href="https://www.google.com/+GuillaumeMonnet" target="_blank" title="Google+" class="social__link">
          <span class="icon-google-plus"></span>
        </a>
      </div>
    </div>
  </div>
</div>
{{> footer}}
