{{> header}}

<section class="hero hero--background is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <figure class="image is-96x96 image--centered author__img-container">
        <img src="/assets/gm.jpg" class="author__img">
      </figure>
      <h1 class="title title--big title--underlined color-inverted is-3">{{text 'authorName'}}</h1>
      <h2 class="title is-5 color-inverted">{{text 'authorFunction'}}</h2>
    </div>
  </div>
</section>

<div class="section has-text-centered">
  <h4 class="title title--medium title--underlined is-5">{{text 'followTitle'}}</h4>

  <div class="social__container">
    <a href="https://github.com/255kb" target="_blank" title="Github" class="icon is-medium">
      <span class="icon-github"></span>
    </a>
    <a href="https://twitter.com/255kb" target="_blank" title="Twitter" class="icon is-medium">
      <span class="icon-twitter"></span>
    </a>
    <a href="http://stackoverflow.com/users/4287789/guillaume" target="_blank" title="Stackoverflow" class="icon is-medium">
      <span class="icon-stackoverflow"></span>
    </a>
    <a href="http://lu.linkedin.com/in/guillaumemonnet/" target="_blank" title="LinkedIn" class="icon is-medium">
      <span class="icon-linkedin"></span>
    </a>
    <a href="https://www.google.com/+GuillaumeMonnet" target="_blank" title="Google+" class="icon is-medium">
      <span class="icon-google-plus"></span>
    </a>
  </div>
</div>

{{> footer}}
