//custom variables
$custom-main-color: #13282E;
$custom-main-color-inverted: #f4fdff;
$custom-link-color: #2aafd0;
$custom-link-color-lighter: lighten($custom-link-color, 15%);
$custom-background-color: #f5fcff;

// Override Bulma variables
$family-sans-serif: 'Droid Sans', sans-serif;
$family-primary: $family-sans-serif;

$primary: $custom-link-color;
$body-background: $custom-background-color;

$text: lighten($custom-main-color, 20%);
$text-light: lighten($custom-main-color, 30%);
$text-strong: lighten($custom-main-color, 10%);

$link: $custom-link-color-lighter !default;
$link-hover: darken($custom-link-color-lighter, 10%);
$link-visited: darken($custom-link-color-lighter, 10%);

// Imports
@import "vendor/sass/utilities/_all.sass";
@import "vendor/sass/base/_all.sass";
@import "vendor/sass/grid/columns.sass";
@import "vendor/sass/layout/hero.sass";
@import "vendor/sass/layout/section.sass";
@import "vendor/sass/elements/image.sass";
@import "vendor/sass/elements/title.sass";
@import "vendor/sass/elements/other.sass";
@import "style";
