/* Bulma Override */
.section {
  background-color: transparent;
}
.hero {
  background-color: transparent;

  &--background {
    background-image: url('/assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
.is-hollow {
  background-color: transparent;
}
.content a:not(.button) {
  border: none;
}

/* mixins */
@mixin underlined() {
  content: "";
  display: block;
  margin: 2px auto 0 auto;
  width: 40%;
  height: 1px;
  background-color: $primary;
}

/* custom classes */
.title--big, .title--medium {
  display: inline-block;
}
.title--big {
  font-weight: bold;
}
.title--underlined {
  &::after {
    @include underlined();
  }
}
.title--italic {
  font-style: italic;
}

.image {
  &--bottom-margin {
    margin-bottom: 20px;
  }

  &--border {
    border: 1px solid #d8d8d8;
  }
}

.text--highlight {
  color: $link;
}

.button {
  &--link {
      color: $text;
    &:hover {
      color: $text;
    }
  }

  &--android, &--android:hover {
    color: #8bc349;
  }

  &--ios, &--ios:hover {
    color: #000;
  }
}

.color-inverted {
  color: $custom-main-color-inverted;
}

.author {
  &__img-container {
    margin-bottom: 20px;
  }

  &__img {
    border: 2px solid $primary;
    border-radius: 50%;
  }
}

figure.image.image--centered {
  margin-left: auto;
  margin-right: auto;
}


footer.section {
  background-color: $custom-footer-background-color;

  a {
    color: lighten($custom-link-color-lighter, 30%);

    &:hover {
    color: lighten($custom-link-color-lighter, 20%);
    }
  }
}

.tag {
  margin-bottom: 4px;

  &__php {
    color: #000;
    background-color: #777bb4;
  }

  &__aws {
    color: #000;
    background-color: #f8b20c;
  }

  &__mysql {
    background-color: #fff;
    &--1 {
      color: #517e9a;
    }
    &--2 {
      color: #f8900c;
    }
  }

  &__java {
    color: #fff;
    background-color: #f80000;
  }

  &__js {
    color: #fff;
    background-color: #f1bf26;
  }

  &__less {
    color: #fff;
    background-color: #1d365d;
  }

  &__html {
    color: #fff;
    background-color: #F1672C;
  }

  &__css {
    color: #fff;
    background-color: #30A9DC;
  }

  &__angular {
    color: #F2F2F2;
    background-color: #DD1B16;
  }

  &__meteor {
    color: #EA5353;
    background-color: #2A2A2E;
  }

  &__jquery {
    color: #fff;
    background-color: #0769AD;
  }

  &__mongo {
    background-color: #402817;
    &--1 {
      color: #fff;
    }
    &--2 {
      color: #EAD696;
    }
  }

  &__bootstrap {
    color: #fff;
    background-color: #5A4080;
  }

  &__android {
    color: #8bc349;
    background-color: #fff;
  }

  &__ios {
    color: #000;
    background-color: #fff;
  }

  &__redis {
    color: #505153;
    background-color: #fff;
  }

  &__firebase {
    color: #404040;
    background-color: #ffa701;
  }
}

/* Icon font */
@font-face {
  font-family: '255kb';
  src:
    url('/assets/255kb.ttf?sau7sj') format('truetype'),
    url('/assets/255kb.woff?sau7sj') format('woff'),
    url('/assets/255kb.svg?sau7sj#255kb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '255kb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\f003";
}
.icon-linkedin:before {
  content: "\f08c";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-stackoverflow:before {
  content: "\f16c";
}
.icon-apple:before {
  content: "\f179";
}
.icon-android:before {
  content: "\f17b";
}
.icon-skype:before {
  content: "\f17e";
}
